<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo_principal.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/images/Logo B.png" alt="Imagen Logo">
            <h1>Inicio</h1>
        </div>

        <nav class="nav-bar">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/formulario-de-contacto">Contacto</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner_registro">
    <h1>Crear Cuenta</h1>
    <p>Completa los campos para registrarte</p>
  </section>

  <div class="container_registro">
    <form action="/registro" method="POST" class="formulario_registro">
      <div class="input-group">
        <label for="nombre">Nombre completo</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ej. Juan Pérez" required>
      </div>

      <div class="input-group">
        <label for="correo">Correo electrónico</label>
        <input type="email" id="correo" name="correo" placeholder="Ej. correo@ejemplo.com" required>
      </div>

      <div class="input-group">
        <label for="usuario">Nombre de usuario</label>
        <input type="text" id="usuario" name="usuario" placeholder="Ej. juanp123" required>
      </div>

      <div class="input-group">
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Mínimo 6 caracteres" required>
      </div>

      <div class="input-group">
        <label for="confirmar">Confirmar contraseña</label>
        <input type="password" id="confirmar" name="confirmar" placeholder="Repite tu contraseña" required>
      </div>

      <button type="submit" class="btn-registrar">Registrarse</button>

      <p class="login-link">¿Ya tienes una cuenta? <a href="login.html">Inicia sesión</a></p>
    </form>
  </div>
       
    </main>
    <footer>
        <p>&copy; 2025 Biometric Access. Todos los derechos reservados.</p>
    </footer>

    <!-- Bootstrap JS (incluye Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
