<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilo_principal.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/images/Logo B.png" alt="Imagen Logo">
            <h1>Servicios</h1>
        </div>
        <nav class="nav-bar">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/formulario-de-contacto">Contacto</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="inicio">
            <div class="Titulo banner2">
                <h1>Servicios</h1>
            </div>
        </section>
        <body>
    <div class="card-servicios">
        <div class="card">
            <img src="/images/img34.jpeg" alt="Imagen del producto" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Control de Acceso Biométrico</h2>
                <p class="card-description">
                    Optimiza la seguridad institucional con nuestro sistema de acceso basado en huella, rostro y credenciales. Registra ingresos en tiempo real y reduce el riesgo de suplantación o accesos no autorizados.                </p>
                <a href="/formulario-de-contacto" class="card-button">Contactenos</a>
            </div>
        </div>
        <!--<div class="card">
            <img src="../images/img35.jpeg" alt="Imagen del producto" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Gestión de Visitantes</h2>
                <p class="card-description">
                    Administra de forma eficiente el ingreso de visitantes con validación biométrica, asignación de horarios y control de permanencia. Facilita reportes detallados y mejora la experiencia de ingreso en las instalaciones.                </p>
                <a href="/formulario-de-contacto" class="card-button">Contactenos</a>
            </div>
        </div>-->
        <div class="card">
            <img src="/images/img36.jpeg" alt="Imagen del producto" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Registro y Monitoreo de Dispositivos</h2>
                <p class="card-description">
                    Controla los equipos que ingresan y salen del centro educativo o empresarial. Este módulo permite llevar un registro completo por usuario, hora y tipo de dispositivo, aportando trazabilidad y orden.                </p>
                <a href="/formulario-de-contacto" class="card-button">Contactenos</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/img37.jpeg" alt="Imagen del producto" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Panel de Reportes Inteligente</h2>
                <p class="card-description">
                    Visualiza en un solo lugar las métricas de acceso, asistencia y dispositivos. Exporta informes personalizados y toma decisiones estratégicas a partir de datos claros y actualizados en tiempo real.                </p>
                <a href="/formulario-de-contacto" class="card-button">Contactenos</a>

            </div>
        </div>

        <div class="card">
            <img src="/images/img38.jpeg" alt="Imagen del producto" class="card-img">
            <div class="card-content">
                <h2 class="card-title">Control de Ingreso Vehicular</h2>
                <p class="card-description">
                    Es un sistema de seguridad avanzado que utiliza tecnología biométrica para identificar y autorizar el acceso de vehículos a un área determinada.                </p>
                <a href="/formulario-de-contacto" class="card-button">Contactenos</a>

            </div>
        </div>
    </div>
    </body>
    </main>
    <footer>
        <p>&copy; 2024 Biometric Access. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>